.wrapper {
    background-color: #3ea9f5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.container{
    display: flex;
    flex-direction: column;
    color: white;
    flex-grow: 1;
    flex-wrap: wrap;
}
